<div class="row">
    <div class="col-md-4 mx-auto">
        <br/>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>User: {{user.nombre}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form class="example-form" (submit)="save()">
                    <br/>
                    <br/>
                    <mat-form-field class="example-full-width">
                        <mat-label>Nombre:</mat-label>
                          <input matInput  type="email" [(ngModel)]="user.nombre"  name="nombre" required autofocus>                      
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Apellido:</mat-label>
                          <input matInput type="email" [(ngModel)]="user.apellido"  name="apellido" required >                      
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Email:</mat-label>
                        <input matInput  type="email" [(ngModel)]="user.email"  name="email" required >                      
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>New Password:</mat-label>
                            <input matInput  type="password" [(ngModel)]="user.contrasena" name="contrasena"   required>
                        <mat-icon  matSuffix >lock</mat-icon >
                    </mat-form-field>
                    <mat-card-actions>
                        <div class="btn-div">
                            <div class="btnSave">
                                <button  mat-flat-button color="primary" type="submit" style="margin-right: 25px; width:35%" >Save </button>
                                <button  mat-flat-button color="warn" type="reset" style="margin-left: 25px;width:35%" (click)="close()">Close </button>
                            </div>
                            
                        </div>
                    </mat-card-actions>
                </form>    
            </mat-card-content>
            
        </mat-card>
    </div>

</div>


