.example-card{
    max-width: 450px;
    margin: 10px auto;
    
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}
.btnSignIn {
    justify-content: flex-end;
}
.btn-div{
    margin: 10px;
}

.btnSave{
    margin-right: 10px;
}